body {
  margin: 0;
  font-family: "Arial", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.FlashcardText {
  display: inline;
  width: 100%;
  padding: 10%;
  text-align: left;
  font-size: 200px;
}

.AlignRight {
  text-align: right;
}

.FlashcardImage {
  box-sizing: border-box;
  width: auto;
  padding: 10%;
  object-fit: scale-down;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FlashcardImageContainer {
  justify-content: center;
  display: flex;
  align-items: center;
}

.FlashcardTextContainer {
  justify-content: center;
  display: flex;
  align-items: flex-start;
}

.Flashcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
  width: 500px;
  height: 700px;
  margin: 0 auto;
  justify-content: center;
}

.InvisibleFlashcard {
  width: 500px;
  height: 700px;
  margin: 0 auto;
  justify-content: center;
}
